<section>
    <h1>Antes de entrar <img src="../../../assets/icons/svg/036-spyware.svg" style="width: 50px;"/></h1>
    <p>El siguiente proyecto es de caracter experimental por lo que el contenido que encuentres tiende a ser temporal o estar en constante transformacion. <img src="https://img.icons8.com/officel/16/000000/matrix-desktop.png"style="width: 20px;"/></p>
    <br>
    <button (click)="btnClick()" class=" btn-neon"> B a c k to the F u t u r e 
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <span id="span4"></span>
    </button>
</section>