body, html {
    background: rgb(184,2,148);
    /* background-image: linear-gradient(208deg, rgba(103,11,85,1) 0%, rgb(56, 0, 82) 35%, rgba(16,73,60,1) 100%); */
    background: rgb(44, 44, 44);
    height: 100%;
  }

/* Style CyberPunk */ 
.bg-image {
    background-image: url('src/assets/Imgs/photo-1561344640-2453889cde5b.jpeg');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background-color: #f50abe; /* Fallback color */
    background-color: rgba(206, 29, 255, 0.372); /* Black w/opacity/see-through */
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    text-shadow: 0px 0px 20px #f50abe58, 0px 0px 15px #f50abe9f, 0px 0px 5px rgba(206, 29, 255, 0.372);
    /* margin: 20px 0 20px 0; */
    box-shadow: 0px 0px 20px #f50abe58, 0px 0px 15px #f50abe9f, 0px 0px 5px rgba(206, 29, 255, 0.372);
}


@media only screen and (max-width: 600px) {
    .bg-image{
        /* Location of the image */
        background-image: url('src/assets/Imgs/photo-1561344640-2453889cde5b.jpeg');
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bg-image{
            /* Location of the image */
            background-image: url('src/assets/Imgs/photo-1557515126-1bf9ada5cb93.jpeg');
    }
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 20px #f50abe58, 0px 0px 15px #f50abe9f, 0px 0px 5px rgba(206, 29, 255, 0.372);
  }

  /* animation typing */
  
  /* .css-typing h1 {
    border-right: .15em solid #f50abe;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .css-typing h1:nth-child(1) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 3s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }  */